<!--{% load static %}-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
            integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
            crossorigin="anonymous"></script>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<div class="test">
    <div>
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; height: 100vh">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <svg class="bi pe-none me-2" width="40" height="32"></svg>
                <span class="fs-4">DGU Site</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto list">
                <li class="nav-item ">
                    <a href="{% url 'register-student'%}" class="nav-link link-dark " aria-current="page">
                        <svg class="bi pe-none me-2" width="16" height="16"></svg>
                        Добавить студента
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16"></svg>
                        Поиск
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16"></svg>
                        Регистрация
                    </a>
                </li>
            </ul>
            <hr>
            <div>
                <strong>пользователь</strong>
                <strong>|</strong>
                <a href="#" class=" link-dark text-decoration-none"><strong>выйти</strong></a>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>