{% extends "base.html" %}
{% block title %}Добавить{% endblock %}
{% block content %}
<div class="col-md-7 cont-1 col-lg-8" style="width: 150vh; margin-left: 50px; ">
        <br><br>
        <h2 class="mb-3">Форма добавления</h2>
        <h3 class="mb-3">{{ key }}</h3>
        <br><br>
        <form class="needs-validation" novalidate="" method="post">
            {% csrf_token %}
          <div class=" g-3">
            <div class="col-5">
              <label for="lastName" class="form-label">Ф.И.О (Фамилия Имя Отчество)</label>
              <input type="text" class="form-control" id="lastName" name="FIO_input">
            </div>

            <div class="col-5">
              <label class="form-label">Курс</label>
              <div class="input-group has-validation">
                <input type="text" class="form-control"  placeholder="1 курс" name="course_input">
              </div>
            </div>

            <div class="col-5">
              <label class="form-label">Направление</label>
              <input type="text" class="form-control" placeholder="ИСИП" name="profile_student_input">
            </div>

            <div class="col-5">
              <label for="address" class="form-label">Вид стипендии</label>
              <input type="text" class="form-control" id="address" placeholder="Академическая" name="type_status_input">
            </div>

            <div class="col-5">
              <label for="address2" class="form-label">Начало/конец назначения</label>
              <input type="text" class="form-control" id="address2" placeholder="DD.MM.YYYY-DD.MM.YYYY" name="start_and_end_period_input">
            </div>

            <div class="col-5">
              <label for="address2" class="form-label">Факультет</label>
              <input type="text" class="form-control" placeholder="ФИиИТ" name="faculty_input">
            </div>
          </div>
          <br><br><br><br><br><br>
<!--          <hr class="my-4">-->

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    Студент добавлен
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ok</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="center" >
          <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Добавить студента</button>
           </div>
        </form>
      </div>
{% endblock %}